:root {
  --color-1: #ffdb47;
  --color-b1: #709dca;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.col-blue {
  color: #709dca;
}

.t-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-v-center{
  display: flex;
  align-items: center;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.d-wrap {
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between;
}

.line {
  height: 2px;
  margin-top: 30px;
  width: 220px;
  background-color: #ffdb47;
  margin: 0 auto;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.section-wrapper {
  padding: 0 10px;
  max-width: 1100px;
  margin: 80px auto;
  font-family: Tahoma, sans-serif;
}

.section-wrapper h1 {
  color: #709dca;
  font-weight: 500;
}

.section-wrapper h2 {
  color: black;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  color: #709dca;
}

section.header {
  position: relative;

}

header {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_img {
  height: 60px;
}

.logo_title {
  white-space: nowrap;
  margin-left: 20px;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  color: #ffdb47;
}

.menu a {
  transition: all 250ms;
}

.menu a:hover {
  color: gold;
  text-shadow: 6px 5px 5px rgb(121, 23, 134);
}

.menu_item {
  color: white;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.menu a:nth-last-child(n + 2) {
  margin-right: 20px;
}

/*==================================================================================*/
.slider {
    margin: 0 auto 50px;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

/*==================================================================================*/
.slider-line {
  display: flex;
  width: 100%;
  height: 565px;
  transition: all ease 500ms;
}

/*==================================================================================*/
.slider-line img {
  object-fit: cover;
  /* height: 100%; */
  width: 100%;
  height: auto;
  filter: brightness(0.6);
  pointer-events: none;
}


/*==================================================================================*/
.control-btn {
  position: relative;
  bottom: 110px;
}

/*==================================================================================*/
.btn1 {
  color: white;
  width: 76px;
  height: 40px;
  padding: 5px;
  text-align: center;
  font-size: 28px;
  display: inline-block;
  transition: all 200ms;
}

/*==================================================================================*/
.btn1:hover {
  cursor: pointer;
  color:palegoldenrod;
  background-color: rgba(224, 9, 9, 0.442);
  border-radius: 10px;
}

.btn-prev {
  position: absolute;
  left: 50px;
  top: -270px;
}

.btn-next {
  position: absolute;
  right: 50px;
  top: -270px;
}

.slider-box_description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px black;
}

.btn_blue {
  background-color: #709dca;
}

.btn_blue:hover{
  transition: all 1s;
  background-color:#08294b;
}

.btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.title {
  font-size: 26px;
  letter-spacing: -1px;
  font-family: Tahoma, sans-serif;
  line-height: 22px;
  font-weight: 500;
  color: #709dca;
}

.box-description {
  justify-content: space-between;
}

.box-description_item {
  width: 48%;
}


.box-description_item img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.people-bg {
  width: 50%;
  background-image: url("../photos/group.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.about {
  width: 50%;
  background-color: #ffc155;
  padding: 50px 0;
  color: white;
}

.btn_yellow {
  background-color: #f3af37;
}

.btn_yellow:hover {
  transition: all 1s;
  background-color: #b67e1e;
}

.about_description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 80%;
  margin: 0 auto;
  font-family: Tahoma, sans-serif;
}

.about_description p {
  margin-bottom: 0;
}

.about h1 {
  font-weight: 500;
}

.section-about {
  height: 630px;
}

.about_description .btn {
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid #ffa300;
}

.section-photos {
  justify-content: center;
}

.section-photos img {
  flex-grow: 1;
  width: 25%;
  min-width: 350px;
  height: auto;
}


.box-review {
  margin-top: 35px;
  justify-content: space-between;
}

.box-review__item {
  max-width: 445px;
  min-width: 200px;
  width: 100%;
}

.box-review__item p {
    text-align: justify;
    padding: 10px;
    background-color: rgba(192, 192, 192, 0.295);
}

.box-review__item img {
  height: 44px;
  width: auto;
}

.box-review__user img {
    vertical-align: middle;
}

.box-dotted {
  margin-top: 15px;
}

.box-dotted__item{
  cursor: pointer;
  display:inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(192, 192, 192, 0.669);
}

.box-dotted__item_active {
  background-color: white;
  border: 1px solid var(--color-b1)
}

i {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

}

.review img {
  width: auto;
  height: 43px;
  position: absolute;
  top: 190px;
  left: 0;
}

.test_d-block {
  margin: 50px;
  position: relative;
  text-align: left;
}

.test_d-block p {
  position: absolute;
  left: 60px;
}

footer {
  background-color: #252525;
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 10px 70px;
}

footer div p{
  margin-right: 20px;
}

h6 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 5px;
}

.footer1 {
  color: white;
  text-align: left;
  width: 400px;
  line-height: 1.4;
  font-size: 16px;
  margin-top: 25px;
}

.footer2 {
  color: white;
  text-align: left;
  width: 400px;
  line-height: 1.4;
  font-size: 16px;
  margin-left: 220px;
}

.footer3 {
  color: white;
  text-align: left;
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 16px;
}

.icons_contact img {
  width: 25px;
  display: block;
  margin-top: 10px;
  position: relative;
  left: -35px;
  bottom: 115px;
}

.social_icon img {
  height: 35px;
  width: auto;
  border-radius: 4px;
  margin-right: 7px;
}

.social_icon img:hover{
  cursor: pointer;
}

.end {
  background-color: black;
  width: 100%;
  height: 100;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.feedback{
  background-color: #eef0f0;
  padding-top: 30px;
  padding-bottom: 50px;
}


.form1_enter{
  flex-wrap: wrap;
  justify-content: center;
}

.form1_enter .box-description_item{
  margin-bottom: 0;
}

.form1_enter:first-child{
  margin-top: 35px;
}

.form1_enter .box-description_item input, .form1_enter .box-description_item textarea{
  border: 3px solid #ffc155;
  margin-bottom: 10px;
  width: 90%;
  height: 30px;
}

.form1_enter .box-description_item textarea{
  height: 110px;
}

input, textarea{
  outline: none;
}

textarea {
  resize: none;
}

.btn-container{
  justify-content: left;
  width: 91.5%;
  margin: 0 auto;
}

.btn-question{
  color:white;
  background-color: #273a43;
  border: 3px solid #ffc155;
  width: 47.5%;  
}

.btn-question:hover{
  transition: all 1s;
  background-color:rgb(43, 7, 77);
}

.contacts_news{                     /*секция с контактами и новостями*/
  background-color: #273a43;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.contacts_news_3{                 /*MyMoscow, контакты и последние новости*/
  width: 30%;
  min-width: 250px;
  padding: 0 50px;
}

.contacts_news_3 .logo .logo_img{
  height: 40px;
}

.contacts_news_3 .logo .logo_title{
  font-size: 28px;
}

.img20{
  height: 20px;
  margin-right: 15px;
}

.contacts_news_3 h4, .cont_flex p, .contacts_news_3 p{
  color: white;
  line-height: 25px;
}

.contacts_news_3 h4{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
}

.cont_flex{
  align-items: center;
  margin-top: -10px;
}

.news p:nth-child(2){
  color: #619cb7;
  margin-top: -15px;
}

/* FOOTER **************************************************************************************************/
footer{
  background-color: #172227;
  width: 100%;
  min-height: 60px;
  max-height: 180px;
  justify-content: space-between;
  }

.footer div{
  height: 50px;
  width: 400px;
  margin-bottom: 0;
}

.footer div p{
  color: white;
}

.footer div img{
  width: 35px;
  margin-top: 10px;
} 

/* ================contacts.html==============================*/
.M-h1{
  font-size: 55px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: 0px;
}

.h2_agnt{
  font-family: "Roboto Condensed", sans-serif;
  line-height: 25px;
}

.h2_cont{
  font-size: 35px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 10px;
}

.box-description .adm{
  background-color: #f3af37;
  min-width: 242px;
}

.box-description_item .adm-img{
  height: 155px;
  width: auto;
  object-fit: cover;
  margin-right: 0;
}


.number h3, .number p{
  line-height: 15px;
  padding-left: 3px;
  padding-right: 3px;
}

.number p{
  font-size: 14px;
}

.form_contacts{
  width: 50%;
  min-width: 200px;
}

.form_contacts .form2 input,
.form_contacts .form2 textarea{
  width: 100%;
  margin-bottom: 5px;
  border: 3px solid var(--color-1);
}

.form_contacts .form2 input{
  height: 35px;
}

.btn_contacts{
  background-color: #062033;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 14px;;
  font-weight: 600;
  width: 100%;
}

.btn_contacts:hover{
  transition: all 1s;
  background-color:#103c68;
}

.map{
  border-top: 4px solid gold;
}

.img40{
  height: 40px;
  padding-right: 20px;
}

.trips-img img{
  object-fit: cover;
}

.trips_description{
  max-width: 95%;
}

.yellow_white{
  background-color: #ffc155;
  color: white;
  padding-bottom: 150px;
}

.trips-left{
  width: 47%;
  height: 100%;
}

.trips-left img,
.trips-right img{
  width: 100%;
  height: 100%;
  }

.trips-right{
  width: 53%;
  height: 100%;
  }

  .trips_text{
    line-height: 20px;
  }

  .img-t{
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
  }

  .mb60{
    margin-bottom: 60px;
  }

  .text-right{
    text-align: right;
  }

  .btn-right{
    position: absolute;
    right: 54%;
  }